body {
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
}

a, .btn {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}
